html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#genisis-img {
    width: 10%;
    height: 10%;
}

#jukskei-header {
    margin: 0;
}

.nav-items {
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    color: #30b0e3 !important;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 0;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

    .nav-link:hover {
        border-width: 1px;
        border-bottom-color: #30b0e3;
        cursor: pointer;
    }

.logo {
    justify-self: left;
    float: left;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    margin: 0 10px;
}

.navvies {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}