<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FashCardImmortals</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FashCardImmortals.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body>
    <div class="navvies">
        @if (ViewBag.IsLoginPage != true && ViewBag.IsRegisterPage != true)
        {
            <div class="logo">
                <a class="nav-link" href="/ViewTournaments">Omniscience</a>
            </div>
            <div class="nav-items">
                <nav>
                    <div class="nav-item px-3" id="nav-item-1">
                        <a class="nav-link" href="/ManipulateFlash">ManipulateFlash</a>
                    </div>
                </nav>
            </div>
        }
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - FashCardImmortals - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>